<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="synthetic">
      <h2 data-cy="syntheticDetailsHeading"><span>Synthetic</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ synthetic.id }}</span>
        </dd>
        <dt><span>Voucher Type</span></dt>
        <dd>
          <span>{{ synthetic.voucherType }}</span>
        </dd>
        <dt><span>Voucher Type No</span></dt>
        <dd>
          <span>{{ synthetic.voucherTypeNo }}</span>
        </dd>
        <dt><span>Voucher No</span></dt>
        <dd>
          <span>{{ synthetic.voucherNo }}</span>
        </dd>
        <dt><span>Voucher Date</span></dt>
        <dd>
          <span>{{ synthetic.voucherDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Accounting Date</span></dt>
        <dd>
          <span>{{ synthetic.accountingDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Invoice No</span></dt>
        <dd>
          <span>{{ synthetic.invoiceNo }}</span>
        </dd>
        <dt><span>Invoice Date</span></dt>
        <dd>
          <span>{{ synthetic.invoiceDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Debit Account</span></dt>
        <dd>
          <span>{{ synthetic.debitAccount }}</span>
        </dd>
        <dt><span>Credit Account</span></dt>
        <dd>
          <span>{{ synthetic.creditAccount }}</span>
        </dd>
        <dt><span>Currency Type</span></dt>
        <dd>
          <span>{{ synthetic.currencyType }}</span>
        </dd>
        <dt><span>Currency</span></dt>
        <dd>
          <span>{{ synthetic.currency }}</span>
        </dd>
        <dt><span>Material Good Code</span></dt>
        <dd>
          <span>{{ synthetic.materialGoodCode }}</span>
        </dd>
        <dt><span>Material Good Name</span></dt>
        <dd>
          <span>{{ synthetic.materialGoodName }}</span>
        </dd>
        <dt><span>Storage In</span></dt>
        <dd>
          <span>{{ synthetic.storageIn }}</span>
        </dd>
        <dt><span>Storage Out</span></dt>
        <dd>
          <span>{{ synthetic.storageOut }}</span>
        </dd>
        <dt><span>Caculation Unit</span></dt>
        <dd>
          <span>{{ synthetic.caculationUnit }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ synthetic.amount }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ synthetic.price }}</span>
        </dd>
        <dt><span>Tranfer Rate</span></dt>
        <dd>
          <span>{{ synthetic.tranferRate }}</span>
        </dd>
        <dt><span>Money Tranfer</span></dt>
        <dd>
          <span>{{ synthetic.moneyTranfer }}</span>
        </dd>
        <dt><span>Fixed Assets Type</span></dt>
        <dd>
          <span>{{ synthetic.fixedAssetsType }}</span>
        </dd>
        <dt><span>Fixed Assets Code</span></dt>
        <dd>
          <span>{{ synthetic.fixedAssetsCode }}</span>
        </dd>
        <dt><span>Tools Code</span></dt>
        <dd>
          <span>{{ synthetic.toolsCode }}</span>
        </dd>
        <dt><span>Debit Object</span></dt>
        <dd>
          <span>{{ synthetic.debitObject }}</span>
        </dd>
        <dt><span>Credit Object</span></dt>
        <dd>
          <span>{{ synthetic.creditObject }}</span>
        </dd>
        <dt><span>Unit</span></dt>
        <dd>
          <span>{{ synthetic.unit }}</span>
        </dd>
        <dt><span>Employee</span></dt>
        <dd>
          <span>{{ synthetic.employee }}</span>
        </dd>
        <dt><span>Bank Account</span></dt>
        <dd>
          <span>{{ synthetic.bankAccount }}</span>
        </dd>
        <dt><span>Item Cost</span></dt>
        <dd>
          <span>{{ synthetic.itemCost }}</span>
        </dd>
        <dt><span>Construction</span></dt>
        <dd>
          <span>{{ synthetic.construction }}</span>
        </dd>
        <dt><span>Cost Set</span></dt>
        <dd>
          <span>{{ synthetic.costSet }}</span>
        </dd>
        <dt><span>Purchase Order</span></dt>
        <dd>
          <span>{{ synthetic.purchaseOrder }}</span>
        </dd>
        <dt><span>Buy Order</span></dt>
        <dd>
          <span>{{ synthetic.buyOrder }}</span>
        </dd>
        <dt><span>Purchase Contract</span></dt>
        <dd>
          <span>{{ synthetic.purchaseContract }}</span>
        </dd>
        <dt><span>Sale Contract</span></dt>
        <dd>
          <span>{{ synthetic.saleContract }}</span>
        </dd>
        <dt><span>Stats Code</span></dt>
        <dd>
          <span>{{ synthetic.statsCode }}</span>
        </dd>
        <dt><span>Explanation</span></dt>
        <dd>
          <span>{{ synthetic.explanation }}</span>
        </dd>
        <dt><span>Explanation Detail</span></dt>
        <dd>
          <span>{{ synthetic.explanationDetail }}</span>
        </dd>
        <dt><span>Record Status</span></dt>
        <dd>
          <span>{{ synthetic.recordStatus }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ synthetic.createdDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Key UUID</span></dt>
        <dd>
          <span>{{ synthetic.keyUUID }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/synthetic', synthetic.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
